# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.*.*.*.*.json

# dotenv environment variable files
.env
.env.*
!.env.example

# caches
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Local runtime state
.runtime-state/
