@import "./tokens.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  color: var(--tc-color-gray-3);
  background: var(--tc-color-black);
  font-family: var(--tc-font-ui);
}

button,
input,
select,
textarea {
  font: inherit;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

#app {
  height: 100vh;
}
